/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #040f16;

    // Couleurs du projet
    --color-primary: #749c75;
    --color-primary-light: #abc4ac;
    --color-bg-primary: #e2e2e2;
}
